body {
  background-color: #FFFAD5;
  font-family: 'Happy Monkey', cursive;

}


header {
  background-color: #DB9E36;
  text-align: center;
  min-height: 20vh;
}

h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

h3 {
  font-size: 18px;
  text-decoration:underline;
}

header p {
  padding-bottom: 15px;
}

input, button {
  font-size: 18px;
  font-family: 'Happy Monkey', cursive;
  border-radius: 4px;
}

button {
  background-color: #105B63;
  color: whitesmoke;
}

#addButton {
  width: 30px;
}

#addButton:disabled {
  display: none;
}

nav {
  display: inline-block;
}

#clearReadBookmarksButton {
  margin-bottom: 15px;
}

main {
  background-color: #FFFAD5;
  min-height: 70vh;
  background-image: url('images/monkey.jpg');
  background-size: cover;
}

#bookmarkCollection{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  padding-bottom: 30px
}

.bookmark {
  width: 18%;
  min-width: 200px;
  background-color: #FFFAD5;
  overflow: hidden;
  border-radius: 4px;
  height: 80px;
  font-size: 14px;
  text-align: center;
  padding: 15px;
  position: relative;
  margin: 30px 15px 0px 15px;
  white-space: nowrap;
/* how do we get this ellipsis to work? */  
  text-overflow: ellipsis;
}

.read {
  background-color: #BD4932;
}

.bookmark p {
  padding: 10px 0 10px 0;
}

.checkboxContainer{
  position:absolute;
  left: 15px;
  bottom: 17px;
}

.removeBookmarkButton {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 14px;
}


footer {
  min-height: 10vh;
  background-color: gray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:535px) {
  .bookmark {
    width: 90%;
  }
}